$mainColor: seashell;
$defaultBackgroundColor: black;
$mainFont: Helvetica, Arial;
$h2FontSize: 32px;
$h3FontSize: $h2FontSize - 6;
$h4FontSize: $h2FontSize - 8;
$mainFontSize: $h2FontSize - 10;
$locationOpacity: 1;
$mainWidth: 100%;
$mainMargin: auto;
